<html>
<body>
<ul>
        <li>
            <div class="phrase">
                {{ phrase1 }}
            </div>
        </li>
        <li>
            <div class="phrase">
                {{ phrase2 }}
            </div>
        </li>
        <li>
            <div class="phrase">
                {{ phrase3 }}
            </div>
        </li>
        <li>
            <div class="phrase">
                {{ phrase4 }}
            </div>
        </li>
    </ul>
    <a href="insert.html">Wanna add some interesting phrases?</a>
</body>
</html>
