<html>
<body>
<br/>
<h1 class="result" style="text-align:center; padding:10px 0px 10px 0px; border-width: 1.5px; border-style: dashed; border-color: black;">
{{ result }}
</h1>
<br/>
{% block content %}
{% if user.is_authenticated %}
<p>Hi {{ user.username }}! <a href="{% url 'logout' %}">Logout</a></p>
<a href="../insert">Add phrase/sentence ...</a>
{% else %}
<p>Wanna add some interesting phrases/sentence? <a href="{% url 'signup' %}">Sign up to do so, </a> or <a href="{% url 'login' %}">Login</a>!</p>
{% endif %}
{% endblock %}
</body>
</html>
