<html>
<head>
<title>Add Your Own Phrase/Sentence</title>
</head>

{% block content %}
<body>
{% if user.is_authenticated %}
<h2 style="border-width: 1px; border-style: double;">Result: <span style="color: {{ result_color }};">{{ result }}</span></h2>
<br/>
<div style="border-width: 1px; border-style: solid; padding: 5px;">
<h1>Insert a phrase:</h1>
<form action="" method="POST">
{% csrf_token %}
Your input: <input type="text" name="phrase"/>
<br/>
<input type="submit" value="Post"/>
</form>
</div>
<br/>

<div style="border-width: 1px; border-style: solid; padding: 5px;">
<h1>Insert a sentence:</h1>
<form action="" method="POST">
{% csrf_token %}
Your input: <input type="text" name="sentence"/>
<br/>
<input type="submit" value="Post"/>
<h3>Note: Please write "{}" (without quotation marks) where you want the random phrase to be inserted.</h3>
<h3>For example: I had an experience of {}.</h3>
</form>
</div>

<br/>
<a href = "https://mac1xa3.ca/e/wangw107/display/">Back</a>
{% else %}
{% endif %}
</body>
{% endblock %}

</html>

