<html>
<head>
<title>Add Your Own Phrase/Sentence</title>
</head>

{% block content %}
<body>
{% if user.is_authenticated %}
<h1>Insert a phrase:</h1>
<form action="" method="POST">
{% csrf_token %}
Your input: <input type="text" name="phrase"/>
<br/>
<input type="submit" value="Post"/>
</form>
<br/>
<br/>
<h1>Insert a sentence:</h1>
<form action="" method="POST">
{% csrf_token %}
Your input: <input type="text" name="sentence"/>
<br/>
<input type="submit" value="Post"/>
</form>
<a href = "https://mac1xa3.ca/e/wangw107/display/">Back</a>
{% else %}
{% endif %}
</body>
{% endblock %}

</html>

