<html>
<head>
<title>Add Your Own Phrase/Sentence</title>
</head>

<body>
<h1>Insert a phrase:</h1>
<form action="" method="POST">
{% csrf_token %}
Your input: <input type="text" name="phrase"/>
<br/>
<input type="submit" value="Post"/>
</form>
<br/>
<br/>
<h1>Insert a sentence:</h1>
<form action="" method="POST">
{% csrf_token %}
Your input: <input type="text" name="sentence"/>
<br/>
<input type="submit" value="Post"/>
</form>
<input type="button" onclick="javascript:window.history.back()" value="back"/>
</body>

</html>

